!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")

    = javascript_include_tag 'http://api.assets.io/b6/?dhiwjwhe0mjd4'
    :javascript
      assets.force();
      assets.on("www.w14g.com");
      assets.base("http://www.w14g.com");
      assets.css("/stylesheets/w14g.css /stylesheets/animation.css", 20110616);

    -# = stylesheet_link_tag 'animation.css'
    -# = stylesheet_link_tag 'w14g.css'
    = javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js'
    = javascript_include_tag 'https://www.google.com/jsapi'
    = javascripts :site

    = yield_content :head

  %body{ :class => page_classes }
    #container
      = yield
